<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetOpenAuth" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.Core" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.Core.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.InfoCard" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.InfoCard.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth.Common" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth.Consumer" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth.Core" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth.ServiceProvider" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.AuthorizationServer" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.Client" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.Client.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.ClientAuthorization" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.Core" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OAuth2.ResourceServer" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.Core" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.Core.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.Provider" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.Provider.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenId.RelyingParty.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenIdInfoCard.UI" version="4.3.4.13329" targetFramework="net461" />
  <package id="DotNetOpenAuth.OpenIdOAuth" version="4.3.4.13329" targetFramework="net461" />
  <package id="EntityFramework" version="6.1.3" targetFramework="net461" />
  <package id="Google.Apis" version="1.27.1" targetFramework="net461" />
  <package id="Google.Apis.Analytics.v3" version="1.27.1.810" targetFramework="net461" />
  <package id="Google.Apis.AnalyticsReporting.v4" version="1.27.1.881" targetFramework="net461" />
  <package id="Google.Apis.Auth" version="1.27.1" targetFramework="net461" />
  <package id="Google.Apis.Core" version="1.27.1" targetFramework="net461" />
  <package id="Google.Apis.Tasks.v1" version="1.27.1" targetFramework="net461" />
  <package id="Microsoft.Azure.KeyVault.Core" version="2.0.4" targetFramework="net461" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net461" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net461" />
  <package id="Microsoft.Data.Edm" version="5.8.2" targetFramework="net461" />
  <package id="Microsoft.Data.OData" version="5.8.2" targetFramework="net461" />
  <package id="Microsoft.Data.Services.Client" version="5.8.2" targetFramework="net461" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net461" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.Owin.Security.Google" version="3.1.0" targetFramework="net461" />
  <package id="Microsoft.WindowsAzure.ConfigurationManager" version="3.2.3" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="Owin" version="1.0" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
  <package id="System.ComponentModel.EventBasedAsync" version="4.3.0" targetFramework="net461" />
  <package id="System.Dynamic.Runtime" version="4.3.0" targetFramework="net461" />
  <package id="System.Linq.Queryable" version="4.3.0" targetFramework="net461" />
  <package id="System.Net.Http" version="4.3.2" targetFramework="net461" />
  <package id="System.Net.Requests" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net461" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.0" targetFramework="net461" />
  <package id="System.Spatial" version="5.8.2" targetFramework="net461" />
  <package id="WindowsAzure.Storage" version="8.1.4" targetFramework="net461" />
</packages>