
@{
    ViewBag.Title = "SecondTestPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Model aircraft</h2>

A model aircraft is a small sized unmanned aircraft or, in the case of a scale model, a replica of an existing or imaginary aircraft. Model aircraft are divided into two basic groups: flying and non-flying. Non-flying models are also termed static, display, or shelf models.

Flying models range from simple toy gliders made of card stock or foam polystyrene to powered scale models made from materials such as balsa wood, bamboo, plastic, styrofoam, carbon fiber, or fiberglass and are skinned with tissue paper or mylar covering. Some can be very large, especially when used to research the flight properties of a proposed full scale design.

Static models range from mass-produced toys in white metal or plastic to highly accurate and detailed models produced for museum display and requiring thousands of hours of work. Many models are available in kit form, typically made of injection-moulded polystyrene.

Aircraft manufacturers and researchers also make wind tunnel models not capable of free flight, used for testing and development of new designs. Sometimes only part of the aircraft is modelled.

Static models for display[edit]

Fokker F28 static desk model.
Static model aircraft (i.e. those not intended to fly) are scale models built using plastic, wood, metal, paper, fiberglass or any other suitable material. Some static models are scaled for use in wind tunnels, where the data acquired is used to aid the design of full scale aircraft.

Models are available that have already been built and painted; models that require construction, painting and gluing; or models that have been painted but need to be clipped together.

Promotional use[edit]

A collection of model airliners in 1:200 scale.
Most of the world's airlines allow their fleet aircraft to be modelled as a form of publicity.[1] In the early days, airlines would order large models of their aircraft and supply them to travel agencies as a promotional item.

In addition, airlines and airplane makers hand out desktop model airplanes to airport, airline and government officials as a way of promoting their airline, celebrating a new route or an achievement. Puerto Rico governor Alejandro García Padilla, for example, has models of JetBlue, Lufthansa, Avianca, and Seaborne Airlines which were given to him by those airlines after starting or increasing flights to San Juan during his tenure.[2]


A Lufthansa Focke-Wulf model on display.
Scale[edit]

Alaska Airlines plane model on the 1:100 scale
Static model aircraft are primarily available commercially in a variety of scales from as large as 1:18 scale to as small as 1:1250 scale. Plastic model kits requiring assembly and painting are primarily available in 1:144, 1:72, 1:50, 1:48, 1:32, and 1:24 scale, often depending on the size of the original subject. Die-cast metal models (pre-assembled and factory painted) are primarily available in 1:400, 1:200, 1:72, 1:600, 1:500, 1:300, 1:250, and 1:48. A variety of odd scales (e.g. 1:239) are also available, but less common.

Scales are not usually random, but are based upon simple divisions of either the Imperial system, or the Metric system. For example, 1:48 scale is 1/4" to 1-foot (or 1" to 4 feet) and 1:72 is 1" to 6 feet, while metric scales are simpler, such as 1:100th, which equals 1 centimeter to 1 meter. 1:72 scale was first introduced in the Skybirds wood and metal model aircraft kits in 1932. Skybirds was followed closely by Frog which produced 1:72 scale aircraft in 1936 under the "Frog Penguin" name. According to Fine Scale Modeler magazine, 1:72 was also popularized by the US War Department during the Second World War when it requested models of single engine aircraft at that scale. The War Department also requested models of multi-engine aircraft at a scale of 1:144. The War Department was hoping to educate Americans in the identification of aircraft. These scales provided the best compromise between size and detail. After WWII, manufacturers continued to favor these scales, however kits are commonly available in 1:48, 1:35, 1:32, and 1:24 scales. The French firm Heller SA is one of the few manufacturer to offer models in the scale of 1:125, while 1:50th and 1:100th are more common in Japan and France which both use Metric. Herpa and others produce promotional models for airlines in scales including 1:200, 1:400, 1:500, 1:600, 1:1000 and more. A few First World War aircraft were offered at 1:28 by Revell, such as the Fokker Dr.I and Sopwith Camel.

A number of manufacturers have made 1:18th scale aircraft to go with cars of the same scale. Aircraft scales have commonly been different from the scales used for military vehicles, figures, cars, and trains. For example, a common scale for early military models was 1:76, whereas companies such as Frog were producing aircraft with a scale of 1:72. Recently military vehicles have adapted to the aircraft standards of 1:72. This has resulted in a substantial amount of duplication of the more famous subjects in a large variety of sizes, which while useful for forced perspective box dioramas has limited the number of possible subjects to those that are more well known.

Less produced scales include 1:64 (better known as S-Gauge or "American Flyer Scale"), 1:96, and 1:128. Many older plastic models do not conform to any established scale as they were sized to fit inside standard commercially available boxes, leading to the term "Box Scale" to describe them. When reissued, these kits retain their unusual scales.[3]

Materials[edit]
The most common form of manufacture for kits is injection molded polystyrene plastic, using carbon steel molds. Today, this takes place mostly in China, Taiwan, the Philippines, South Korea, and Eastern Europe. Injection molding allows a high degree of precision and automation not available in the other manufacturing processes used for models but the molds are expensive and require large production runs to cover the cost of making them. Smaller and cheaper runs can be done with cast copper molds, and some companies do even smaller runs using cast resin or rubber molds, but the durability is of a lower standard than carbon steel and labour costs are higher.

Specialized kits cast in resin are available from companies such as Anigrand, Collect Aire, CMK, CMR, and Unicraft, made in molds similar to those used for limited run plastic kits, but usually not as durable, hence the much smaller numbers of each kit that are made, and their higher price. Vacuum forming is another common alternative to injection molded kits but require more skill to assemble, and usually lack detail parts that must be supplied by the modeller.[4] There is a handful of photo etched metal kits which allow a high level of detail but can be laborious to assemble, and lack the ability to replicate certain shapes.[5]

Scale models can be made from paper (normal or heavy) or card stock. Commercial models are printed by publishers mainly based in Germany or Eastern Europe.[6] Card models are also distributed through the internet, and several are offered this way for free. Card model kits are not limited to just aircraft, with kits being available for all types of vehicles, buildings, computers, firearms and animals.[citation needed]

From World War I through the 1950s, flying model airplanes were built from light weight bamboo or balsa wood and covered with tissue paper. This was a difficult, time consuming process that mirrored the actual construction of airplanes through the beginning of World War II. The Cleveland Model and Supply Corporation made the most complex, challenging kits, while Guillow's made simpler, relatively easy kits. Many model makers became adept at creating models from drawings of the actual aircraft.[7]

Ready-made models (desk-top models) include those produced in fiberglass for travel agents and aircraft manufacturers, as well as collectors models made from die-cast metal, mahogany, resin and plastic.[8]

Flying models for sport (Aeromodeling)[edit]

A free-flight hand-launched glider
Generally known collectively in all its forms as the sport and pastime of aeromodelling, some flying models resemble scaled down versions of full scale aircraft, while others are built with no intention of looking like real aircraft. There are also models of birds and flying dinosaurs. The reduced size affects the model's Reynolds number which determines how the air reacts when flowing past the model, and compared to a full sized aircraft the size of control surfaces needed, the stability and the effectiveness of specific airfoil sections may differ considerably requiring changes to the design.

Control[edit]
Flying model aircraft are generally controlled through one of three methods

Free flight (F/F) model aircraft fly without external control from the ground. The aircraft must be set up before flight so that its control surfaces, and weight allow stable flight. Most free flying models are either unpowered gliders or rubber powered. This type of model pre-dates manned flight.[9]
Control line (C/L) model aircraft use cables to tether a plane to a central point, either held by hand or to a pole. The aircraft is then flown around the point in circles. Usually two cables are used, one tethering the aircraft and one controlling the elevator.
Radio-controlled aircraft have a transmitter operated by the controller, sending signals to a receiver in the model which in turn actuates servos which manipulate the model's flight controls in a similar manner to a full sized aircraft. In traditional aircraft, the radio has directly controlled the servos. However, modern aircraft often use flight controlling computers to stabilize an aircraft or even to fly the aircraft autonomously. This is particularly the case with quadcopters.


Source: https://en.wikipedia.org/wiki/Model_aircraft
